/**
 * name: hello-vue3
 * version: v0.0.0
 * description: 
 * author: 
 */
hr[data-v-40eeeb47]{width:60%;border-color:var(--c-border);margin:var(--w-space) auto;opacity:.2}a[data-v-40eeeb47]{color:#42b983}p[data-v-40eeeb47]{margin:0}.home[data-v-e4127020]{display:flex;flex-direction:column;align-items:center;width:100%;font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:var(--c-text);padding:calc(var(--w-space) * 3) 0;margin:0 auto}
